go 1.25.0

use ./machinebackuplib

use ./machinebackup

use ./pbscommon

use ./clientcommon

use ./snapshot

use ./pkg/retry

use ./pkg/security

use ./directorybackup

use (
	./gui
	./nbd
)

use ./gui/api
